html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.65;
    padding-bottom: 1000px;
    background-color: #f2f2f2; /* mengubah warna latar belakang body */
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* Tambahkan sudut bulat pada container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*bayangan */
}

.sidebar-satu {
    flex: 1;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.kolom-utama {
    flex: 2;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* warna latar belakang dengan opasitas */
    border-radius: 5px; /* sudut bulat pada kolom utama */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* bayangan */
}

.sidebar-dua {
    flex: 1;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

/* Menambahkan gaya untuk judul artikel */
.kolom-utama h2 {
    margin-bottom: 20px;
    color: #333; /* warna teks */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /*bayangan teks */
}
