from {
    margin: 20px 0;
}
from input, button {
    padding: 5px;
}
table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border : ipx solid #cdcdcd;
}
table th, table td{
    padding: 10px;
    text-align: left;
}